<nav class="bg-alt text-alt d-flex justify-content-around">
  <button id="addToon" onclick="document.location.replace('/create-toon')">Add Toon</button>
  <button id="logoutBtn">logout</button>
</nav>

<h1>{{this.user.username}}</h1>


<main>

  {{#each toon}}

  <div class="toonCard">
    <img src="/assets/images/{{race}}-{{gender}}-sketch.png" alt="{{race}} {{gender}}">

    <h3>{{toonName}}</h3>
    <p>{{gender}}</p>
    <p>{{race}}</p>
    <p><img src="/assets/images/{{toonClass}}.png" alt="">{{toonClass}}</p>
    <p>{{backstory}}</p>
    <a href="/edit-toon/{{id}}">edit</a>
  </div>
  {{/each}}
</main>




<script src="/js/logout.js"></script>