<nav>
<button id="addToon" onclick="document.location.replace('/create-toon')">Add Toon</button>
<button id="logoutBtn">logout</button>
</nav>




<main>

  {{#each toon}}
  <h1>{{user.username}}</h1>

  <div class="toonCard">
    <img src="/assets/images/{{race}}-{{gender}}-sketch.png" alt="{{race}} {{gender}}">

    <h3>{{toonName}}</h3>
    <p>{{gender}}</p>
    <p>{{race}}</p>
    <p>{{toonclass}}</p>
    <p>{{backstory}}</p>
  </div>
  {{!-- {{/each}} --}}
  {{!-- {{/if}} --}}
</main>




<script src="/js/logout.js"></script>