<h1>user page</h1>


<nav>
  <h1>{{User.username}}</h1>
  <button id="addToon" onclick="document.location.replace('/create-toon')">Add Toon</button>
  <button id="logoutBtn">logout</button>
</nav>

<main>
  {{#each Toon}}
  <div class="toonCard">
    <img src="/assets/images/{{getToonImage Toon.race Toon.gender}}" alt="{{Toon.race}} {{Toon.gender}}">

    <h3>{{Toon.name}}</h3>
    <p>{{Toon.backstory}}</p>
  </div>
  {{/each}}
</main>




<script src="/js/logout.js">
</script>